<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.PictureDao">

    <insert id="insertPicture" >
        insert into t_picture(picture_id,picture_path,picture_description,picture_status)
        values(#{picture_id},#{picture_path},#{picture_description},#{picture_status})
    </insert>

    <delete id="deletePicture">
        delete from t_picture
        where picture_id = #{picture_id}
    </delete>

    <update id="updatePicture" >
        update t_picture
        set
            picture_path = #{picture_path},
            picture_description = #{picture_description},
            picture_status = #{picture_status}

        where picture_id = #{picture_id}
    </update>

    <select id="countPicture" resultType="java.lang.Integer">
        select count(*) from t_picture
    </select>

    <select id="selectPictureById" resultType="Picture">
        select * from t_picture
        where picture_id = #{picture_id}
    </select>

    <select id="selectPictureByPage" resultType="Picture">
        <!--select picture_id,picture_path,picture_description,-->
        <!--(case picture_status when 0 then '展示中' when 1 then '未展示' else '信息错误' end) as picture_status,picture_date-->
        <!--from t_picture limit #{begin},#{end}-->

        select * from t_picture limit #{begin},#{end}
    </select>

</mapper>
